/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* --------------------FONTS---------------------- */

@font-face {
    font-family: 'learning_curve_proregular';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #5a5a5a;
    height: 100%;
    width:100%;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: url("../img/background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/*Responsive Text*/

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
        }
    }
@media all and (max-width: 1100px) { /* screen size until 1200px */
    body {
        font-size: 1.35em; /* 1.35x default size */
        }
    }
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.1em; /* 1.2x default size */
        }
}
@media all and (max-width: 767px) { /* screen size until 767px ---where cols go to xs */
    body {
        font-size: 1.0em; /* default size */
        }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.0em; /* 0.8x default size */
        }
}
    
/*Image Crawl sizing*/

html{height:100%;}


/*HEADER STUFF --------------------------------------------------------->*/
.logo {
    width: 300px;
    height: auto;
    position: relative;
    left: 5px;
}

#top{
    padding-top: 200px;
}

.caption{
    width:100%;
    text-align: center;
    font-family: 'learning_curve_proregular', cursive;
    font-size: 2.5em;
    color: #fff;
}

.title {
/*    width: 100%;*/
    text-align: center;
}

/*FORM STUFF --------------------------------------------------------->*/

#opencontact{
    margin: 10px auto;
}

.middle-container{
    width: 100%;
    text-align: center;
    margin-top: 20px;    
}

.contact-form{
    width: 300px;
    margin: 10px auto;
}

.message-container{
    padding-top: 15px;
}

p {
    color: #fff;
    margin-top: 40px;
}

#contact-container a{
    color: deepskyblue;
}

.form-control{
    font-size: 1em;
}

.prettybutton{
    background-color: #dedede;
    color: #5a5a5a;
    border-style: none;
    padding: 5px 10px;
    font-size: 1em;
}

.prettybutton:hover{
    background-color: #c9c9c9;
}

.contact-send{
    margin-top: 30px;
    margin-bottom: 50px;
}
    
/*FOOTER STUFF --------------------------------------------------------->*/

footer {
    height: 70px;
    width: 100%;
    display: table;
    margin: auto;
    background-color: rgba(54, 160, 152, 0.93);
    color: #fff;
    text-transform: lowercase;
    font-size: 1.5em;
    font-family: 'learning_curve_proregular', cursive;
}

footer .content-block {
    padding-top: 15px;
    text-align: left;
}